#message-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(6, 0, 0, 0.5);
  padding: 20px 40px 20px 20px; /* Adjust the padding to create space for the image */
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  z-index: 9999;
}

#message-button::after {
  content: "";
  background-image: url(./images/enter-button2.png);
  background-size: 23px 23px; /* Adjust to fit the image appropriately */
  background-repeat: no-repeat;
  background-position: right center;
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust the right position */
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}
