* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.close-window {
  position: absolute;
  top: -11px;
  right: 0px;
  font-size: 32px;
  cursor: pointer;
  color: rgb(250, 244, 244);
  font-weight: bold;
}
.close-window button {
  background-color: #474b49;
  cursor: pointer;
  font-size: 22px;
  opacity: 0.7;
}
.close-window button:hover {
  background-color: rgb(167, 5, 5);
  color: #fff;
  opacity: 1;
}
.window {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(247, 250, 250);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #086f39;
  padding: 20px;
  border: 5px solid #430b0b;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: none;
}
.window.window2 {
  background-color: #f086cb;
  color: #090909;
}
.window.window3 {
  background-color: #a1802c;
  color: #0c0c0c;
}
.window.window4 {
  background-color: #201a70;
  color: #ffbe00;
}
.window.window5 {
  background-color: #4f1a0d;
  color: #ffbe00;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: black;
  color: #ffbe00;
  font-family: sans-serif;
  font-size: 5vw;
  line-height: 1.3;
  overflow: hidden;
  cursor: none;
}
/* body:hover { */
/* cursor: auto; */
/* } */
p {
  padding: 0.5rem 0;
  font-size: 1.8rem;
}
.info p {
  padding: 0.5rem 0;
  font-size: 1.2rem;
}
.message-button {
  color: #a1802c;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(6, 0, 0, 0.5);
  padding: 20px 40px 20px 20px; /* Adjust the padding to create space for the image */
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  z-index: 9999;
}
.message-button:hover {
  cursor: pointer;
}
.message-button.planet1 {
  color: #086f39;
}
.message-button.planet2 {
  color: #e03eb2;
}
.message-button.planet4 {
  color: #08206f;
}
.message-button.planet5 {
  color: #762713;
  background-color: rgba(6, 0, 0, 0.7);
}

.message-button::after {
  content: "";
  background-image: url(./images/enter-button2.png);
  background-size: 23px 23px; /* Adjust to fit the image appropriately */
  background-repeat: no-repeat;
  background-position: right center;
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust the right position */
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

#menu-container {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform: scaleY(0.9);
  overflow: visible;
  width: 100%;
  height: 200px; /* Adjust as needed */
  margin: 0 auto;
  perspective: 380px;
  perspective-origin: bottom;
}

#scrolling-text {
  position: absolute;
  /* bottom: 0; */
  top: 0;
  left: 13%;
  right: 13%;
  /* width: 100%; */
  height: 100%;
  /* overflow: hidden; */
  /* white-space: nowrap; */
  animation: scrolling-text-animation 50s infinite;
}

.headings {
  margin-bottom: 5rem;
}
h1 {
  font-size: 90px;
  text-align: center;
}

@keyframes scrolling-text-animation {
  0% {
    transform: rotateX(21deg) translateY(150%);
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: rotateX(21deg) translateY(-280%);
    opacity: 0;
  }
}

a {
  position: fixed;
  /* bottom: 20px; */
  right: 20px;
  background: rgba(105, 105, 105, 0);
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.5em;
  letter-spacing: 0.1em;
  font-weight: 400;
  padding: 10px 30px;
  transition: 0.5s;
  display: inline-block;
  border: 3px solid rgb(75, 0, 130, 0.6);
}
a:hover {
  background: rgba(105, 105, 105, 0);
  color: #8a0806;
  letter-spacing: 0.25em;
  box-shadow: 0 0 35px #8a0806;
  font-weight: 700;
}
a:before {
  content: "";
  inset: 2px;
  background: indigo;
}
a i {
  position: absolute;
  inset: 0;
  display: block;
}

a i::before {
  content: "";
  position: absolute;
  top: 0;
  left: 80%;
  width: 20px;
  height: 4px;
  background: #ffbe00;
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}
a:hover i::before {
  width: 30px;
  left: 20%;
}
a i::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 20px;
  height: 4px;
  background: #ffbe00;
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}
a:hover i::after {
  width: 30px;
  left: 80%;
}

.progress-bar-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#progress-bar {
  width: 30%;
  margin-top: 0.5%;
  height: 2%;
}
label {
  position: relative;
  color: white;
  font-size: 2rem;
}
.action-button {
  color: #f9e50d;
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(62, 59, 59);
  padding: 20px 35px 20px 20px; /* Adjust the padding to create space for the image */
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 1000;
  z-index: 9999;
  display: none;
}
.action-button:hover {
  cursor: pointer;
}

.action-button.second {
  background-color: #2f0463;
  color: #f38cd8;
  font-size: 14.5px;
  right: -10px;
}
.action-button.first {
  background-color: #0f0f0f;
  color: #0a6c0e;
  font-size: 14.5px;
  right: -10px;
}
.action-button.third {
  background-color: #0c0c0c;
  color: #a1802c;
  font-size: 14.5px;
  right: -10px;
}
.action-button.fourth {
  background-color: #101010;
  color: #0529c9;
  font-size: 14.5px;
  right: -10px;
}
.action-button.fifth {
  background-color: rgb(118, 91, 91);
  color: #4f1a0d;
  font-size: 14.5px;
  right: -10px;
}

.action-button::after {
  content: "";
  background-image: url(./images/enter-button2.png);
  background-size: 23px 23px; /* Adjust to fit the image appropriately */
  background-repeat: no-repeat;
  background-position: right center;
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust the right position */
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}
/* #container { */
/* position: relative; */
/* display: none; */
/* } */
/*  */
/* #message-container { */
/* position: absolute; */
/* top: 10px; */
/* left: 10px; */
/* } */

#score {
  color: #a1802c;
  position: absolute;
  top: 10%;
  left: 40%;
  transform: translate(-50%, -50%);
  background-color: rgba(6, 0, 0, 0.5);
  padding: 10px 20px 10px 10px; /* Adjust the padding to create space for the image */
  border-radius: 10px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  z-index: 9999;
  opacity: 1;
  transition: opacity 1s ease;
  display: none;
}
#time {
  color: #01340d;
  position: absolute;
  top: 30%;
  left: 20%;
  transform: translate(-50%, -50%);
  background-color: rgba(6, 0, 0, 0.5);
  padding: 10px 20px 10px 10px; /* Adjust the padding to create space for the image */
  border-radius: 10px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  z-index: 9999;
  opacity: 0.9;
  transition: opacity 1s ease;
  display: none;
}
.hide {
  opacity: 0;
}
